.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #FFFFFF;
    width: 600px;
    height: 560px;
    border: 1px solid rgb(206, 206, 206);
    border-radius: 4px;
}
.title {
    width: 200px;
    height: 40px;
    size: 32px;
    font-family: Open Sans;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0px;
    text-transform: capitalize;

}
.text {
    width: 300px;
    height: 20px;
    font-family: Open Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;


}
.login {
    font-family: Open Sans;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;

}